/*********************************************************************************************

Project : Lxpixel - starterkit - Sass variables
URI: http://lxpixel.com
Version: 1.0
Author: Pedro Borges 
Author URI: https://github.com/pfdborges
Github URI: https://github.com/pfdborges

**********************************************************************************************

1.  General units            
2.  General colors
3.  Brand colors
4.  Fonts
5.  Links & Buttons
6.  

**********************************************************************************************/


/********************************************************************************************* 
1.  General units            
*********************************************************************************************/

$unit_base-font-size: 18px;
$unit_base-line-height: 1.45;
$unit_half-em: 0.5em;
$unit_one-em: 1em;
$unit_two-em: 2em;


/********************************************************************************************* 
2.  General colors            
*********************************************************************************************/

$white: #ffffff;
$light-grey: #f5f5f5;
$grey-color: #b8bec3;
$dark-green-color: #478b7f;
$text-color: #333;

// temp color
$color-temp: rgba(255,0,0,.2);

/********************************************************************************************* 
3.  Brand colors            
*********************************************************************************************/
$primary-color: #42b4a2;
$secundary-color: #318e7d;
$terciary-color: #3d5350;

$dark-black: #121314;
$dark-grey: #242429;
$sections-tittle: #434e56;
$dribbble-color: #ea4c89;

$color-red: #c72137;
$color-blue: #0086e5;

/********************************************************************************************* 
4.  Fonts           
*********************************************************************************************/

$primary-font: 'Montserrat', sans-serif;
$secundary-font: 'Droid Serif', serif;
//$secundary-font: 'Playfair Display', serif;
$text-font: "sans-serif";


/********************************************************************************************* 
5.  Links & Buttons       
*********************************************************************************************/

$link-normal: $primary-color;
$link-over: darken($link-normal, 20%);





